<div class="max-w-[600px] mx-auto">
  <p-card>
    <ng-template pTemplate='header'>
      <h1 class='text-center'> <i class="pi pi-clipboard text-3xl"></i> Todo App!</h1>
    </ng-template>
    <app-create-todo></app-create-todo>
    <h2>Some todos: #{{todoStore.todos().length}}</h2>
    @for (todo of todoStore.todos(); track todo.name) {
    <h4>Store Todo: {{todo.name}}</h4>
    }
    @if(todoStore.error()) {
    <h3>Error: {{todoStore.error()}}</h3>
    }
    {{ todoStore.isLoading() }}
  </p-card>
</div>
